---
layout: default
---

<section>
  <div>
    🌿&nbsp&nbsp<a href="/reflections"><b>back</b></a> <br /><br />
  </div>
  {{ page.age }} YRS {{ content }}
</section>
<section>
  <nav class="post-nav">
    <div>
      <p>
        <li>
          I'd love to hear your thoughts on this stuff! Reach me by
          <a href="/contact">email</a> if you want to discuss those ideas in
          more depth.
        </li>
      </p>
      <p>
        <li>
          My work is made possible by a handful of generous sponsors. If you
          resonate with it, please consider
          <a href="https://github.com/sponsors/paulbricman">supporting me</a>.
        </li>
      </p>
    </div>
  </nav>
</section>
