---
layout: default
---

<section>
  <div>
    <p>🌿&nbsp&nbsp<a href="/reflections">back</a></p>
  </div>
  {% assign age_split = page.age | round: 2 | split: "." %}
  {% assign integral = age_split[0] %}
  {% assign fractional = age_split[1] | append: "00" | truncate: 2, "" %}
  <p>{{integral}}.{{fractional}} YRS</p>
  {{ content }}
</section>
<section>
  <nav class="post-nav">
    <div>
      <p>
        <li>
          I'd love to hear your thoughts on this stuff! Reach me by
          <a href="/contact">email</a> if you want to discuss those ideas in
          more depth.
        </li>
      </p>
      <p>
        <li>
          My work is made possible by a handful of generous sponsors. If you
          resonate with it and would like to get access to exclusive perks,
          please consider
          <a href="https://github.com/sponsors/paulbricman">supporting me</a>.
        </li>
      </p>
    </div>
  </nav>
</section>
