---
layout: default
---

<meta property="og:image" content="{{ page.image }}"/>

<section>
  <div>
    <p>🌿&nbsp&nbsp<a href="/thoughtware">back</a></p>
  </div>
  {{ content }}
</section>

<center>
  <div>
    <a href="/contact"><button>send feedback</button></a>
    <a href="https://twitter.com/intent/tweet?text={{page.title | urlencode}}%0A%0A{{site.url}}{{page.url | urlencode}}"><button>tweet this</button></a>
    <a href="https://github.com/sponsors/paulbricman"><button>support me 🤍</button></a>
    <br/><br/>
  </div>
</center>