---
layout: default
---

<section>
  <div>
    <p>🌿&nbsp&nbsp<a href="/thoughtware">back</a></p>
  </div>
  {{ content }}
</section>

<script
  src="https://utteranc.es/client.js"
  repo="paulbricman/paulbricman.github.io"
  issue-term="pathname"
  theme="github-light"
  crossorigin="anonymous"
  async
></script>

<center>
  <div>
    <br />
    <a href="/contact"><button>reply by email</button></a>
    <a
      href="https://twitter.com/intent/tweet?text={{page.title | urlencode}}%0A%0A{{site.url}}{{page.url | urlencode}}"
      ><button>tweet this</button></a
    >
    <a href="https://github.com/sponsors/paulbricman"
      ><button>support me 🤍</button></a
    >
    <br /><br />
  </div>
</center>
